<div 
	class="modal fade"
    [id]="id"
	tabindex="-1" 
	role="dialog" 
	aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button 
                    type="button" 
                    class="close" 
                    data-dismiss="modal" 
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">
                    Rate on {{ rateDate | dateFormat }}
                </h4>
            </div>
            <div class="modal-body text-center">
                <div>
                    <h2>
                        {{ convert.amount }}
                        {{ convert.currencyFrom }}
                        =
                        {{ valueConverted }}
                        {{ convert.currencyTo }}
                    </h2>
                    <p>
                        1 {{ convert.currencyTo }} = {{ rateTo }} {{ convert.currencyFrom }}  
                        /
                        1 {{ convert.currencyFrom }} = {{ rateFrom }} {{ convert.currencyTo }}
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button 
                    type="button" 
                    class="btn btn-success"
                    data-dismiss="modal"
                    (click)="newQuery()">
                    New query
                </button>
            </div>
        </div>
    </div>
</div>
